.rit-logo {
	height: 50px;
	width: 325px;
	margin: 0px auto;
	display: block;
	padding: 10px;
}

.interact {
	background-color: whitesmoke;
	margin: 10px auto;
	display: block;
	height: 75.5%;
	width: 87%;
}