.login-popup {
	height: 100%;
	width: 100%;
	background-color: #fa0;
	text-align: center;
}

.login-popup a {
	position: absolute;
	top: 70%;
	left: 43%;
	text-align: center;
	margin: auto;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial;
	color: white;
	padding: 20px;
	background-color: #151515;
	border-radius: 0.3em;
}

p.thick {
  font-weight: bold;
	color:black;
  position: absolute;
	text-align: center;
	font-size: 24px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
