.mock-phone {
	width: 414px;
	height: 896px;
	background-color: #fa0;
	margin: 50px auto;
}

body {
	background-color: #777;
}

p.tiger_protect {
	font-weight: bold;
	  color:black;
	  text-align: center;
  }
  
p.tiger_protect_2 {
	font-weight: bold;
	  color:black;
	  top: 170px;
	  text-align: center;
  }

p.page_name {
		position: static;
		font-weight: bold;
	  color:black;
	  text-align: center;
	  top: 170px;
  left: 50%;
  transform: translate(0%, -80%);
  }